<div class="row">
    <div class="col-lg-6">
        <a ng-repeat="breadcrumb in breadcrumbs" ui-sref="store.category({ category: breadcrumb.slug })">{{ breadcrumb.name }} > </a>
    </div>
</div>

<div class="row">
    <a class="col-lg-2 store-category" ng-repeat="category in categories"
        ui-sref="store.category({ category: category.slug })">
        <article class="panel panel-default">
            <header class="panel-heading"><h3 class="panel-title" ng-bind="category.name"></h3></header>
            <div class="panel-body">
                <div class="well store-category-image">
                    <img src="http://placehold.it/150x150" alt="placeholder">
                </div>
            </div>
        </article>
    </a>
</div>
